extends ../layout

block content
    .row
        .col
            h1= purchase.Description
        .col
            .d-grid.gap-2.d-md-flex.justify-content-md-end
                button(data-bs-toggle='modal' data-bs-target='#edit-purchase-modal').btn.text-primary
                    i.fas.fa-edit
                    span.ms-1 Edit
    .row
        .col-4
            .card
                .card-header Basic Details
                .card-body
                    .mb-2
                        p.mb-0.text-secondary Description
                        p= purchase.Description
                    .mb-2
                        p.mb-0.text-secondary Status
                        p= purchase.Status
                    .mb-2
                        p.mb-0.text-secondary Price
                        p= purchase.Price
                    .mb-2
                        p.mb-0.text-secondary Items
                        p= purchase.Items.length
        .col-8
            .card
                .card-header Items
                .card-body
                    table#items-list-table
                        thead
                            tr
                                th Name
                                th SKU
                                th Quantity
                                th Status
                                th Buy Price
                                th Sell Price
                                th
                        tbody
                            each row in purchase.Items
                                tr
                                    td= row.Name
                                    td= row.Sku
                                    td= row.Quantity
                                    td= row.Status
                                    td= row.BuyPrice
                                    td= row.SellPrice
                                    td
                                        a(href="/items/" + row.Id).btn.text-primary
                                            i.fas.fa-eye
                                            span.ms-1 View
    form(method='POST' action='/purchases/' + purchase.Id + '/update').modal.fade#edit-purchase-modal
        .modal-dialog.modal-dialog-scrollable
            .modal-content
                .modal-header
                    h5.modal-title Edit Purchase
                    button(type='button' data-bs-dismiss='modal').btn-close
                .modal-body
                    .form-group.mb-3
                        label Name
                        input(type='text' name='description' value=purchase.Description).form-control
                    .form-group.mb-3
                        label Price
                        input(type='number' step=".01" name='price' value=purchase.Price).form-control
                    .form-group.text-center
                        button(type='submit').btn.text-primary
                            i.fas.fa-check-square
                            span.ms-1 Update
block scripts
    script(src='/js/purchases/view.js')