extends ../layout

block content
    a(href="/listings/active").btn.text-primary
        i.fas.fa-chevron-circle-left
        span.ms-1 Back to List
    .row.mt-3
        .col
            h1= listing.Name
        .col
            .d-grid.gap-2.d-md-flex.justify-content-md-end
                button(data-bs-toggle='modal' data-bs-target='#add-note-modal').btn.text-secondary
                    i.fas.fa-comment
                    span.ms-1 Add Note
                button(data-bs-toggle='modal' data-bs-target='#add-postage-policy-modal').btn.text-secondary
                    i.fas.fa-plus-square
                    span.ms-1 Add Postage Policy
                button(data-bs-toggle='modal' data-bs-target='#add-item-modal').btn.text-secondary
                    i.fas.fa-plus-square
                    span.ms-1 Add Item
                button(data-bs-toggle='modal' data-bs-target='#renew-listing-modal').btn.text-secondary
                    i.fas.fa-calendar
                    span.ms-1 Renew
                button(data-bs-toggle='modal' data-bs-target='#end-listing-modal').btn.text-secondary
                    i.fas.fa-times-circle
                    span.ms-1 End
                button(data-bs-toggle='modal' data-bs-target='#edit-listing-modal').btn.text-primary
                    i.fas.fa-edit
                    span.ms-1 Edit
    .row.mt-3
        .col-4
            .row
                .col
                    .card
                        .card-header Basic Details
                        .card-body
                            .mb-2
                                p.mb-0.text-secondary Listing Number
                                p
                                    a(href="https://ebay.co.uk/itm/" + listing.ListingNumber, target="_blank")= listing.ListingNumber
                            .mb-2
                                p.mb-0.text-secondary Price
                                p= listing.Price
                            .mb-2
                                p.mb-0.text-secondary Status
                                p= listing.StatusName()
                            .mb-2
                                p.mb-0.text-secondary Quantity
                                p= listing.Quantity
                            .mb-2
                                p.mb-0.text-secondary End Date
                                p= listing.EndDate
                            .mb-2
                                p.mb-0.text-secondary Relisted Times
                                p= listing.RelistedTimes
                            .mb-2
                                p.mb-0.text-secondary Items
                                p= listing.Items.length

        .col-8
            .card
                .card-header Items
                .card-body
                    table#items-list-table
                        thead
                            tr
                                th Name
                                th SKU
                                th Status
                                th Buy Price
                                th
                        tbody
                            each row in listing.Items
                                tr
                                    td= row.Name
                                    td= row.Sku
                                    td= row.StatusName()
                                    td= row.BuyPrice
                                    td
                                        a(href="/items/" + row.Id).btn.text-primary
                                            i.fas.fa-eye
                                            span.ms-1 View
    .row.mt-3
        .col-4
            .card
                .card-header Postage Policy
                .card-body
                    if listing.PostagePolicy
                        .mb-2
                            p.mb-0.text-secondary Name
                            p
                                a(href="/postage-policies/" + listing.PostagePolicy.Id, target="_blank")= listing.PostagePolicy.Name
                        .mb-2
                            p.mb-0.text-secondary Cost To Buyer
                            p= listing.PostagePolicy.CostToBuyer
                        .mb-2
                            p.mb-0.text-secondary Actual Cost
                            p= listing.PostagePolicy.ActualCost
        .col-8
            .card
                .card-header Notes
                .card-body
                    each note in notes
                        p= note.Text
                        p.text-secondary= '- ' + note.WhenCreated
                        hr
    form(method='POST' action='/listings/view/' + listing.Id + '/update').modal.fade#edit-listing-modal
        .modal-dialog.modal-dialog-scrollable
            .modal-content
                .modal-header
                    h5.modal-title Edit Listing
                    button(type='button' data-bs-dismiss='modal').btn-close
                .modal-body
                    .form-group.mb-3
                        label Name
                        input(type='text' name='name' value=listing.Name).form-control
                    .form-group.mb-3
                        label Listing Number
                        input(type='text' name='listingNumber' value=listing.ListingNumber).form-control
                    .form-group.mb-3
                        label Price
                        input(type='number' step=".01" name='price' value=listing.Price).form-control
                    .form-group.mb-3
                        label Quantity
                        input(type='number' step="1" name='quantity' value=listing.Quantity).form-control
                    .form-group.text-center
                        button(type='submit').btn.text-primary
                            i.fas.fa-check-square
                            span.ms-1 Update
    form(method='POST' action='/listings/view/' + listing.Id + '/end').modal.fade#end-listing-modal
        .modal-dialog.modal-dialog-scrollable
            .modal-content
                .modal-header
                    h5.modal-title End Listing
                    button(type='button' data-bs-dismiss='modal').btn-close
                .modal-body
                    .form-group.mb-3
                        label Are you sure you want to end this listing?
                    .form-group.text-center
                        button(type='submit').btn.text-primary
                            i.fas.fa-check-square
                            span.ms-1 Yes
    form(method='POST' action='/listings/view/' + listing.Id + '/renew').modal.fade#renew-listing-modal
        .modal-dialog.modal-dialog-scrollable
            .modal-content
                .modal-header
                    h5.modal-title Renew Listing
                    button(type='button' data-bs-dismiss='modal').btn-close
                .modal-body
                    .form-group.mb-3
                        label End Date
                        input(type='date' name='endDate' value=listing.EndDate).form-control
                    .form-group.text-center
                        button(type='submit').btn.text-primary
                            i.fas.fa-check-square
                            span.ms-1 Renew
    form(method='POST' action='/listings/view/' + listing.Id + '/assign-item').modal.fade#add-item-modal
        .modal-dialog.modal-dialog-scrollable
            .modal-content
                .modal-header
                    h5.modal-title Add Item
                    button(type='button' data-bs-dismiss='modal').btn-close
                .modal-body
                    .form-group.mb-3
                        label Item
                        select(name='itemId').form-control
                            each row in items
                                option(value=row.Id)= row.Sku + " " + row.Name
                    .form-group.text-center
                        button(type='submit').btn.text-primary
                            i.fas.fa-check-square
                            span.ms-1 Create
    form(method='POST' action='/listings/view/' + listing.Id + '/assign-postage-policy').modal.fade#add-postage-policy-modal
        .modal-dialog.modal-dialog-scrollable
            .modal-content
                .modal-header
                    h5.modal-title Add Postage Policy
                    button(type='button' data-bs-dismiss='modal').btn-close
                .modal-body
                    .form-group.mb-3
                        label Postage Policy
                        select(name='policyId').form-control
                            each row in postagePolicies
                                option(value=row.Id)= row.Name
                    .form-group.text-center
                        button(type='submit').btn.text-primary
                            i.fas.fa-check-square
                            span.ms-1 Create
    form(method='POST' action='/listings/' + listing.Id + '/add-note').modal.fade#add-note-modal
        .modal-dialog.modal-dialog-scrollable
            .modal-content
                .modal-header
                    h5.modal-title Add Note
                    button(type='button' data-bs-dismiss='modal').btn-close
                .modal-body
                    .form-group.mb-3
                        label Text
                        input(type='text' name='text').form-control
                    .form-group.text-center
                        button(type='submit').btn.text-primary
                            i.fas.fa-check-square
                            span.ms-1 Add
block scripts
    script(src='/js/listings/view.js')