extends ../layout

block content
    .row
        .col
            h1 Items
        .col
            .d-grid.gap-2.d-md-flex.justify-content-md-end
                button(data-bs-toggle='modal' data-bs-target='#new-item-modal').btn.text-primary
                    i.fas.fa-plus-square
                    span.ms-1 New
    table#items-list-table
        thead
            tr
                th Name
                th SKU
                th Quantity
                th Status
                th Buy Price
                th Sell Price
                th
        tbody
            each row in items
                tr
                    td= row.Name
                    td= row.Sku
                    td= row.Quantity
                    td= row.Status
                    td= row.BuyPrice
                    td= row.SellPrice
                    td
                        a(href="/items/" + row.Id).btn.text-primary
                            i.fas.fa-eye
                            span.ms-1 View
    form(method='POST' action='/items/new').modal.fade#new-item-modal
        .modal-dialog.modal-dialog-scrollable
            .modal-content
                .modal-header
                    h5.modal-title New Item
                    button(type='button' data-bs-dismiss='modal').btn-close
                .modal-body
                    .form-group.mb-3
                        label Name
                        input(type='text' name='name').form-control
                    .form-group.mb-3
                        label Sku
                        input(type='text' name='sku').form-control
                    .form-group.mb-3
                        label Quantity
                        input(type='number' step=".01" name='quantity').form-control
                    .form-group.mb-3
                        label Buy Price
                        input(type='number' step=".01" name='buyPrice').form-control
                    .form-group.mb-3
                        label Sell Price
                        input(type='number' step=".01" name='sellPrice').form-control
                    .form-group.text-center
                        button(type='submit').btn.text-primary
                            i.fas.fa-check-square
                            span.ms-1 Create

block scripts
    script(src='/js/items/list.js')
