extends ../layout

block content
    a(href="/item-purchases/view/" + item.Purchase.Id).btn.text-primary
        i.fas.fa-chevron-circle-left
        span.ms-1 Back to Purchase
    .row.mt-3
        .col
            h1= item.Name
        .col
            .d-grid.gap-2.d-md-flex.justify-content-md-end
                button(data-bs-toggle='modal' data-bs-target='#add-note-modal').btn.text-secondary
                    i.fas.fa-comment
                    span.ms-1 Add Note
                button(data-bs-toggle='modal' data-bs-target='#edit-quantity-modal').btn.text-secondary
                    i.fas.fa-edit
                    span.ms-1 Quantity
                button(data-bs-toggle='modal' data-bs-target='#edit-item-modal').btn.text-primary
                    i.fas.fa-edit
                    span.ms-1 Edit
    .row.mt-3
        .col-4
            .card
                .card-header Basic Details
                .card-body
                    .mb-2
                        p.mb-0.text-secondary SKU
                        p= item.sku
                    .mb-2
                        p.mb-0.text-secondary Buy Price
                        p= buyPrice
        .col-4
            .card
                .card-header Quantity
                .card-body
                    .mb-2
                        p.mb-0.text-secondary Unlisted
                        p= item.quantities.unlisted
                    .mb-2
                        p.mb-0.text-secondary Listed
                        p= item.quantities.listed
                    .mb-2
                        p.mb-0.text-secondary Sold
                        p= item.quantities.sold
                    .mb-2
                        p.mb-0.text-secondary Rejected
                        p= item.quantities.rejected
        .col-4
            .card
                .card-header Storage
                .card-body
                    unless item.Storage == null
                        .mb-2
                            p.mb-0.text-secondary Building
                            p
                                a(href="/storage/list/unit/" + storageBuilding.uuid)= storageBuilding.name
                        .mb-2
                            p.mb-0.text-secondary Unit
                            p
                                a(href="/storage/list/bin/" + storageUnit.uuid)= storageUnit.name
                        .mb-2
                            p.mb-0.text-secondary Bin
                            p
                                a(href="/storage/view/" + storageBin.uuid)= storageBin.name
    .row.mt-3
        .col-8
            .card
                .card-header Notes
                .card-body
                    each note in notes
                        p= note.Text
                        p.text-secondary= '- ' + note.WhenCreated
                        hr
    form(method='POST' action='/items/' + item.Id + '/update').modal.fade#edit-item-modal
        .modal-dialog.modal-dialog-scrollable
            .modal-content
                .modal-header
                    h5.modal-title Edit Item
                    button(type='button' data-bs-dismiss='modal').btn-close
                .modal-body
                    .form-group.mb-3
                        label Name
                        input(type='text' name='name' value=item.Name).form-control
                    .form-group.text-center
                        button(type='submit').btn.text-primary
                            i.fas.fa-check-square
                            span.ms-1 Update
    form(method='POST' action='/items/' + item.Id + '/update-quantity').modal.fade#edit-quantity-modal
        .modal-dialog.modal-dialog-scrollable
            .modal-content
                .modal-header
                    h5.modal-title Edit Quantity
                    button(type='button' data-bs-dismiss='modal').btn-close
                .modal-body
                    .form-group.mb-3
                        label Unlisted
                        input(type='number' step="1" name='unlisted' value=item.UnlistedQuantity).form-control
                    .form-group.mb-3
                        label Listed
                        input(type='number' step="1" name='listed' value=item.ListedQuantity).form-control
                    .form-group.mb-3
                        label Sold
                        input(type='number' step="1" name='sold' value=item.SoldQuantity).form-control
                    .form-group.mb-3
                        label Rejected
                        input(type='number' step="1" name='rejected' value=item.RejectedQuantity).form-control
                    .form-group.text-center
                        button(type='submit').btn.text-primary
                            i.fas.fa-check-square
                            span.ms-1 Update
    form(method='POST' action='/items/' + item.Id + '/add-note').modal.fade#add-note-modal
        .modal-dialog.modal-dialog-scrollable
            .modal-content
                .modal-header
                    h5.modal-title Add Note
                    button(type='button' data-bs-dismiss='modal').btn-close
                .modal-body
                    .form-group.mb-3
                        label Text
                        input(type='text' name='text').form-control
                    .form-group.text-center
                        button(type='submit').btn.text-primary
                            i.fas.fa-check-square
                            span.ms-1 Add