extends ../layout

block content
    a(href="/item-purchases/ordered").btn.text-primary
        i.fas.fa-chevron-circle-left
        span.ms-1 Back to List
    .row.mt-3
        .col
            h1= purchase.Description
        .col
            .d-grid.gap-2.d-md-flex.justify-content-md-end
                button(data-bs-toggle='modal' data-bs-target='#add-note-modal').btn.text-secondary
                    i.fas.fa-comment
                    span.ms-1 Add Note
                button(data-bs-toggle='modal' data-bs-target='#update-status-modal').btn.text-secondary
                    i.fas.fa-edit
                    span.ms-1 Update Status
                button(data-bs-toggle='modal' data-bs-target='#new-item-modal').btn.text-secondary
                    i.fas.fa-plus-square
                    span.ms-1 Add Item
                button(data-bs-toggle='modal' data-bs-target='#edit-purchase-modal').btn.text-primary
                    i.fas.fa-edit
                    span.ms-1 Edit
    .row.mt-3
        .col-4
            .card
                .card-header Basic Details
                .card-body
                    .mb-2
                        p.mb-0.text-secondary Description
                        p= purchase.Description
                    .mb-2
                        p.mb-0.text-secondary Status
                        p= purchase.Status
                    .mb-2
                        p.mb-0.text-secondary Price
                        p= purchase.Price
                    .mb-2
                        p.mb-0.text-secondary Items
                        p= purchase.Items.length
        .col-8
            .card
                .card-header Items
                .card-body
                    table#items-list-table
                        thead
                            tr
                                th Name
                                th SKU
                                th Quantity
                                th Status
                                th Buy Price
                                th
                        tbody
                            each row in purchase.Items
                                tr
                                    td= row.Name
                                    td= row.Sku
                                    td= row.UnlistedQuantity + row.ListedQuantity + row.SoldQuantity + row.RejectedQuantity
                                    td= row.Status
                                    td= row.BuyPrice
                                    td
                                        a(href="/items/" + row.Id).btn.text-primary
                                            i.fas.fa-eye
                                            span.ms-1 View
    .row.mt-3
        .col-8
            .card
                .card-header Notes
                .card-body
                    each note in notes
                        p= note.Text
                        p.text-secondary= '- ' + note.WhenCreated
                        hr
    form(method='POST' action='/item-purchases/view/' + purchase.Id + '/update').modal.fade#edit-purchase-modal
        .modal-dialog.modal-dialog-scrollable
            .modal-content
                .modal-header
                    h5.modal-title Edit Purchase
                    button(type='button' data-bs-dismiss='modal').btn-close
                .modal-body
                    .form-group.mb-3
                        label Name
                        input(type='text' name='description' value=purchase.Description).form-control
                    .form-group.mb-3
                        label Price
                        input(type='number' step=".01" name='price' value=purchase.Price).form-control
                    .form-group.text-center
                        button(type='submit').btn.text-primary
                            i.fas.fa-check-square
                            span.ms-1 Update
    form(method='POST' action='/items/new').modal.fade#new-item-modal
        .modal-dialog.modal-dialog-scrollable
            .modal-content
                .modal-header
                    h5.modal-title New Item
                    button(type='button' data-bs-dismiss='modal').btn-close
                .modal-body
                    .form-group
                        input(type='hidden' name='purchaseId' value=purchase.Id)
                    .form-group.mb-3
                        label Name
                        input(type='text' name='name').form-control
                    .form-group.mb-3
                        label Quantity
                        input(type='number' step="1" name='quantity').form-control
                    .form-group.text-center
                        button(type='submit').btn.text-primary
                            i.fas.fa-check-square
                            span.ms-1 Create
    form(method='POST' action='/item-purchases/view/' + purchase.Id + '/update-status').modal.fade#update-status-modal
        .modal-dialog.modal-dialog-scrollable
            .modal-content
                .modal-header
                    h5.modal-title Update Status
                    button(type='button' data-bs-dismiss='modal').btn-close
                .modal-body
                    .form-group
                        input(type='hidden' name='purchaseId' value=purchase.Id)
                    .form-group.mb-3
                        label Status
                        select(name='status').form-control
                            if purchase.Status == 0
                                option(value="0") Ordered
                                option(value="1" selected) Received
                                option(value="2") Inventoried
                                option(value="3") Complete
                                option(value="4") Rejected
                            if purchase.Status == 1
                                option(value="0") Ordered
                                option(value="1") Received
                                option(value="2" selected) Inventoried
                                option(value="3") Complete
                                option(value="4") Rejected
                            if purchase.Status == 2
                                option(value="0") Ordered
                                option(value="1") Received
                                option(value="2") Inventoried
                                option(value="3" selected) Complete
                                option(value="4") Rejected
                            if purchase.Status == 3
                                option(value="0") Ordered
                                option(value="1") Received
                                option(value="2") Inventoried
                                option(value="3" selected) Complete
                                option(value="4") Rejected
                            if purchase.Status == 4
                                option(value="0") Ordered
                                option(value="1") Received
                                option(value="2") Inventoried
                                option(value="3") Complete
                                option(value="4" selected) Rejected
                    .form-group.text-center
                        button(type='submit').btn.text-primary
                            i.fas.fa-check-square
                            span.ms-1 Create
    form(method='POST' action='/item-purchases/' + purchase.Id + '/add-note').modal.fade#add-note-modal
        .modal-dialog.modal-dialog-scrollable
            .modal-content
                .modal-header
                    h5.modal-title Add Note
                    button(type='button' data-bs-dismiss='modal').btn-close
                .modal-body
                    .form-group.mb-3
                        label Text
                        input(type='text' name='text').form-control
                    .form-group.text-center
                        button(type='submit').btn.text-primary
                            i.fas.fa-check-square
                            span.ms-1 Add
block scripts
    script(src='/js/item-purchases/view.js')